/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*
.network-icon {
   background-image: url(/images/icons/Network.png) !important;
            }
.network-folder {
    background-image: url(/images/icons/Network.png) !important;
}

.document-icon {
   background-image: url(/images/icons/layout.png) !important;
            }
.document-folder {
    background-image: url(/images/icons/folder_page.png) !important;
}

.location-icon {
   background-image: url(/images/icons/building.png) !important;
            }
.location-folder {
    background-image: url(/images/icons/building.png) !important;
}

*/