<!DOCTYPE html>
<html>
<head>
  <title>NeoDoc</title>
    
  <%= stylesheet_link_tag '/extjs/resources/ext-theme-gray/ext-theme-gray-all.css'       %>
  <%= javascript_include_tag '/extjs/ext-all-debug.js', 'app.js'
     %>

  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
